#loginScreenContext{
    -fx-background-image: url(../loginscreen.png);
    -fx-background-size: 100% 100%;
    -fx-border-radius: 50%;
}
#btnLogin{

    -fx-background-color: rgb(23, 130, 177);
}
#loginFormContext2{
    -fx-border-color:   black;
    -fx-border-radius: 5%;
}
#mainContext{
    -fx-background-color: linear-gradient(to top left,white, rgba(74, 193, 241, 0.65));
}
#mainDashBoardContext{

}
#dashBoardContext{


}
.btnDashBoard{

    -fx-background-radius: 2%;
    -fx-background-color: #CFF5E7;
}
.btnDashBoard:hover{

    -fx-background-color: linear-gradient(to top left, white, #5fa8ff);
}
#dashboardContext2{

}
.dashBoardLabel{
    -fx-background-color: #59C1BD;
    -fx-background-radius: 0 50 50 50;
}
#lblAddnew{
    -fx-text-fill: #0ac5e5
;
}
#bgContext{
    -fx-background-color: linear-gradient(to top right,white, rgba(207, 245, 231, 0.77));
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected{
    -fx-background-color: #93f9b911;
    -fx-text-fill: black;
    -fx-text-background-color: red;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}